<% provide(:title, "Login") %>
<h1>Login</h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for :session, url: login_path do |t| %>
      <%= t.label :email %>
      <%= t.text_field :email, autofocus: true, class: "form-control" %>
      <%= t.label :password %>
      <%= t.password_field :password, class: "form-control" %>
      <%= t.label :remember_me, class: "checkbox inline" do %>
        <%= t.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      <%= t.submit "Login", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>

