<!--%= turbo_frame_tag "micropost" do %-->
<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= render 'shared/error_message_item', locals:{find_error_for:/\w/}, object: f.object  %>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
     <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>
<!--% end %-->

<% content_for :head do %>
  <%= javascript_import_module_tag "cut_image" %>
<% end %>
